*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.center-wrapper{
display: flex;
justify-content: center;
}

.bg-wrapper{
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.div-container-flex{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 76%;
  min-height: 400px;
  align-content: center;

}


.box{
   border: 1px solid black;
   background-color: white;
   
}

