*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  min-height: 400px;
  gap: 40px;

}

.div-container-flex{
  display: flex;
  flex-wrap: wrap;
  width: 76%;
}


.box{
   border: 1px solid black;
   background-color: white;
   
}

.header{
  text-align: center;
  font-size: 50px;
  color: rgb(158, 158, 255);
}

.header:hover{
  cursor: pointer;
  text-decoration: underline;
}


.Option-flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-self: center;
  
}

.Option-flex > button{
  padding: 20px;
  border-radius: 40px;
  border: none;
  background-color: rgb(158, 158, 255);
  color: white;
}

.Option-flex > button:hover{
  cursor: pointer;
  background-color: rgb(129, 129, 208);
}

.op-h{
  font-size: 20px;
  color: rgb(129, 129, 208);
}